.main-container {
  background-color: orange;
  padding: 10px;
  margin: 2px;
  text-align: center;
}

#tokenname {
  margin: 10px;
  padding: 2px;
}

#tokenname {
  margin: 10px;
  padding: 2px;
}
#symbol {
  margin: 10px;
  padding: 2px;
}

#coins {
  margin: 10px;
  padding: 2px;
}

.button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 30%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button :hover span {
  background: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
}

